<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <a href="/">back to home</a>
    <a href="/categories/new">create new category</a>
    <ul>
      <%if(categories){%> <% categories.forEach((category)=>{%>
      <li>
        <h2>
          <a href="categories/<%= category.cid%>/get"><%=category.ctitle%></a>
        </h2>
      </li>
      <%})%> <%}%>
    </ul>
  </body>
</html>
